:root{
      --sx-color-primary: var(--ui-primary-400);
      --sx-color-on-primary:var(--ui-surface-0);
      --sx-color-primary-container: var(--ui-primary-200);
      --sx-color-on-primary-container: var(--ui-primary-800);
      --sx-color-secondary: var(--ui-surface-200);
      --sx-color-on-secondary:var(--ui-surface-0);
      --sx-color-secondary-container: var(--ui-surface-50);
      --sx-color-on-secondary-container: var(--ui-surface-800);
      --sx-color-tertiary: var(--ui-surface-400);
      --sx-color-on-tertiary:var(--ui-surface-0);
      --sx-color-tertiary-container: var(--ui-surface-50);
      --sx-color-on-tertiary-container: var(--ui-surface-800);
      --sx-color-surface: var(--ui-surface-50);
      --sx-color-surface-dim: var(--ui-primary-100);
      --sx-color-surface-bright: var(--ui-surface-50);
      --sx-color-on-surface: var(--ui-surface-800);
      --sx-color-surface-container: var(--ui-surface-50);
      --sx-color-surface-container-low: var(--ui-surface-50);
      --sx-color-surface-container-high: var(--ui-surface-50);
      --sx-color-background:var(--ui-surface-0);
      --sx-color-on-background: var(--ui-surface-800);
      --sx-color-outline: var(--ui-surface-500);
      --sx-color-outline-variant: var(--ui-surface-300);
      --sx-color-shadow: var(--ui-surface-900);
      --sx-color-surface-tint: var(--ui-primary-300);
      --sx-color-neutral: var(--sx-color-outline);
      --sx-color-neutral-variant: var(--sx-color-outline-variant);
      --sx-internal-color-gray-ripple-background: var(--ui-surface-50);
      --sx-internal-color-light-gray: var(--ui-surface-50);
      --sx-internal-color-text: var(--ui-surface-900);
      --sx-rounding-extra-small: 8px;
      --sx-spacing-padding1:4px 4px 0;
}
.is-dark{
   --sx-color-primary: var(--ui-primary-400);
   --sx-color-on-primary:var(--ui-surface-0);
   --sx-color-primary-container: var(--ui-primary-900);
   --sx-color-on-primary-container: var(--ui-primary-50);
   --sx-color-secondary: var(--ui-surface-200);
   --sx-color-on-secondary:var(--ui-surface-0);
   --sx-color-secondary-container: var(--ui-surface-50);
   --sx-color-on-secondary-container: var(--ui-surface-800);
   --sx-color-tertiary: var(--ui-surface-400);
   --sx-color-on-tertiary:var(--ui-surface-0);
   --sx-color-tertiary-container: var(--ui-surface-50);
   --sx-color-on-tertiary-container: var(--ui-surface-800);
   --sx-color-surface: var(--ui-surface-50);
   --sx-color-surface-dim: var(--ui-primary-900);
   --sx-color-surface-bright: var(--ui-surface-50);
   --sx-color-on-surface: var(--ui-surface-900);
   --sx-color-surface-container: var(--ui-surface-900);
   --sx-color-surface-container-low: var(--ui-surface-900);
   --sx-color-surface-container-high: var(--ui-surface-900);
   --sx-color-background:var(--background);
   --sx-color-on-background: var(--ui-surface-300);
   --sx-color-outline: var(--ui-surface-400);
   --sx-color-outline-variant: var(--ui-surface-700);
   --sx-color-shadow: var(--ui-surface-900);
   --sx-color-surface-tint: var(--ui-primary-300);
   --sx-color-neutral: var(--sx-color-outline);
   --sx-color-neutral-variant: var(--sx-color-outline-variant);
   --sx-internal-color-gray-ripple-background: var(--ui-surface-50);
   --sx-internal-color-light-gray: var(--ui-surface-50);
   --sx-internal-color-text: var(--main-text);
   --sx-rounding-extra-small: 8px;
   --sx-spacing-padding1:4px 4px 0;
}