.wrapper {
   &>form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      & :global(.p-button-label) {
         font-weight: 700;
      }
      & :global(.p-button) {
         background-color: var(--ui-surface-800);
         &:hover{
            background-color: var(--ui-surface-700);
         }
      }
     
      &>h2 {
         font-size: 1.6rem;
         text-align: center;
         margin-bottom: 10px;
      }

      & h3 {
         flex-grow: 1;
         font-size: 1.2rem;
         text-align: center;
         margin: 20px 0;
      }
   }
}

.reset {
   text-align: center;
   margin: 10px auto 0;
   padding: 5px;
   width: fit-content;
   font-size: 1rem;
   color: var(--gray-text);

   &:hover {
      color: var(--gray-text-hover);
   }
}

:global(.dark) .wrapper :global(.p-button){
   background-color: var(--ui-surface-200);
   &:hover{
      background-color: var(--ui-surface-400);
   }
}